* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, article, div {
    display: block;
}

body {
    justify-content: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: auto; 
    margin: 0;
    padding: 0;
}

@media screen and(max-width:992px){
    #wrapper {
        padding: 15px;
    }
}

@media screen and(max-width:768px){
    #wrapper {
        padding: 10px;
    }
}

header {

    width: 100%;
    height: 100px;
    display: flex;
    background-color: rgb(132, 207, 132);
    justify-content: space-between;
    
}

main {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

}

.black-rectangle {
    
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height: 100%;
    width: 1000px;
    min-height: 100vh;
    align-content: flex-start;
    padding: 20px;
    justify-content: left;
}

.plus {

    width: 45px;
    height: 45px;
    padding-top: 36.5px;
    padding-left: 20px;
}

.plus button {
    font-size: 25px;
    width: 35px;
}

.switch {
    padding-right: 30px;
    padding-top: 36.5px;
}

.switch button {
    font-size: 25px;
    width: 250px;
}

.minus {
    width: 45px;
    height: 45px;
    padding-top: 36.5px;
    padding-right: 20px;
}

.minus button {
    font-size: 25px;
    width: 35px;
    margin-left: 10px;
}

.small_rectangles {
    justify-items: center; 
    
    margin-right: 20px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
            width: 150px;
    height: 150px;
    align-items: center top;
   
}

.small_rectangles h3{

        font-size: 30px;

}


.songs_list {
    color: white;
    font-size: 30px;
}

h1{
    color: white;
    margin-left: 250px;
    font-weight: bold;
    display: block;
}

ul{
    justify-content: left;
    margin-top: 30px;
    margin-left: 20px;
    position: absolute;
}

li{
    color: white;
    padding-top: 20px;
}